h1{
    font-family: 'Roboto', sans-serif;


}

.input-group{
    font-family: 'Roboto', sans-serif;

}


.searchF {
    background-color: #1C77BA;
    color: white
}

/* .weatherT {
    /* font-family: 'Roboto', sans-serif; */
/* 
} */ 

.border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5%
}

.commentButton {
    background-color: #00C15E;
    color: white
}

.fa-trash {
    color:#FA4B69;
    float:right
}
